[submodule "chia-plotter-puzzles"]
	path = chia-plotter-puzzles
	url = https://github.com/madMAx43v3r/chia-plotter.git
	branch = pool-puzzles
[submodule "chia-plotter"]
	path = chia-plotter
	url = https://github.com/madMAx43v3r/chia-plotter.git
	branch = master
